#carrinho-btn {
  position: fixed;
  top: 15px;
  right: 15px;

  background: #7b5cff;
  color: white;

  width: 55px;
  height: 55px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  cursor: pointer;

  z-index: 99999;
}

#contador {
  position: absolute;
  top: -5px;
  right: -5px;

  background: red;
  color: white;

  width: 20px;
  height: 20px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  width: 55px;
  height: 55px;

  background: #25D366;
  color: white;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 26px;
  cursor: pointer;

  z-index: 99999;
}

.carrinho {
  position: fixed;
  right: -400px;
  top: 0;

  width: 320px;
  height: 100%;

  background: white;
  box-shadow: -5px 0 20px rgba(0,0,0,0.2);

  padding: 15px;

  transition: 0.3s;
  z-index: 9999;

  overflow-y: auto;
}

.carrinho.ativo {
  right: 0;
}

.item-carrinho {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
